<!-- En-tête intégré directement dans le composant racine -->
<header class="header">
    <div class="header-content">
        <a routerLink="accueil">
            <img src="logo.png" alt="Logo Gestion de Vidéos" class="logo">
        </a>
        <nav class="nav">
            <a routerLink="accueil" class="nav-link">Accueil</a>
            <a routerLink="upload" class="nav-link">Télécharger une vidéo</a>
            <a routerLink="list-videos" class="nav-link">Liste des vidéos</a>
        </nav>
    </div>
</header>

<!-- Contenu principal -->
<router-outlet></router-outlet>

